
.virtual-screen {
    width: 700px;
    height: 100px
}

.virtual-keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    /* justify-content: space-between; */
    text-align: center;
}


.keyboard__key {
    background-color: #7a8684;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 4px;
}
.keyboard__key_sized {
  width: 80px;
}
.keyboard__key_active {
    background-color: #e4d565;
}